<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Stack Exchange Error Searcher</h1>
        <p>Description of the project will be added later</p>
      </div>
      
      <div class="container">
        <form action="" method="post">
          <div class="form-group">
            <!-- <label for="exampleInputEmail1">Error Message</label> -->
            <textarea class="form-control" id="textAreaExample2" rows="8" placeholder="Enter error message here" name="error_message"></textarea>
            <!-- <input type="text" class="form-control" id="error" aria-describedby="emailHelp" placeholder="Enter error message here"> -->
            <small class="form-text text-muted">Paste the whole error message here to find relavent Stack Exchange Posts.</small>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <br><br>
<!-- 
        <div class="jumbotron text-center">
          The result summary.
        </div> -->



        <div class="jumbotron text-center">
          
          
          <h6>Original query:</h4>
            <pre> {{ query_message }} </pre>
          
            <br><br><br><br>

          <h5> The relevent posts that Matches the query are listed below: </h5>
          <ol id="navigation" align="left">
            {% for link in result %}
                
                <li>
                  <a href="{{ link.url }}" target="_blank"> <b>Title: </b>Link {{ link.title }} </a>
                  <p> <b>Similary Score: </b> {{ link.similarity_score }} </p>
                  <p> <b> Summary of the Stack Overflow Post:</b> <br>
                    {{ link.body_summary }} </p>
                
                </li>

            {% endfor %}
            </ol>

        </div>



      </div>


</body>
</html>



